.stMain {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.stBody {
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.stHeading {
    width: 100%;
    text-align: center;
    font-size: 35px;
    /* font-weight: bold; */
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
}

.stCard {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.stSubheading {
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.stClgList {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.stClg {
    cursor: pointer;
}